<div class="navbar-fixed">
  <nav class=" teal lighten-2">
      <div class="nav-wrapper  lighten-2">
        <a href="#!" class="brand-logo"> <i class="fas fa-money-bill-alt fa-2x"></i>
        </a>
        <a href="#"  class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down ">
          <li><a class="nav-link" routerLink="">Home
  
              <span class="sr-only">(current)</span>
              
              </a></li>
          <li>  <a class="nav-link" routerLink="customer">Clientes</a></li>
          <li>  <a class="nav-link" routerLink="customer/register">Adicionar Clientes</a>
          </li>
        </ul>
      </div>
    </nav>
  
    </div>



    