<footer class="page-footer  teal lighten-2" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">LoanProject</h5>
          <p class="grey-text text-lighten-4">Created by Cleverson Ledur.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="mailto:cleversonledur@gmail.com">E-mail</a></li>
            <li><a class="grey-text text-lighten-3" href="http://www.linkedin.com/in/cleversonledur
              ">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>